body {
    background: url("bg.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body:after{
    content: "";
    display: table;
    clear: both;
}

.column2{
    display: table;
}

.fs{
    display: none;
}

h1, h2 {
    color:white;
}
#status {
    color:white;
    margin: 40px 80px 80px 65px;
}


.column{
    float: left;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.Summary  th, td{
    width:100%;
    color:white;
    border: 1px solid rgb(255, 255, 255);
}

.Summary tbody{
    display:block;
    overflow:auto;
    height:150px;
    width:100%;
  }
.Summary thead tr{
    display:block;
}

.Summary{
    margin-left: 30px;
    overflow-y: scroll; 
    width: 200px;
    height: 100px;
}

.graph {
    background: rgba(0,0,0,0.9);
    width:60%;
    height: 100vh;
}

.overlay {
    background: rgba(0,0,0,0.9);
    width:40%;
    height: 100vh;
}
.height-form{
    font: 95% Arial, Helvetica, sans-serif;
    font-size: large;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
    margin-bottom: 100px;
    background: rgba(247, 247, 247, 0);
}

.height-form label{
    color : white;
}
.height-form input[type="number"],
.height-form textarea,
.height-form select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}



.height-form button{
    width : 100%;
    height : 30px;
    border: 1px solid #ccc;
    border-radius: 10%;
}

.SIZE{ 
    float : left;
    border:2px solid #ccc; 
    color: blanchedalmond;
    width:80%; 
    height: 100px;
    overflow-y: scroll; 
}

.log{
    border:2px solid #ccc;
    margin-left: 30px;
    overflow-y: scroll; 
    width: 200px;
    height: 170px;
}

.refresh {
    width : 24%;
    margin : 5px 5px 5px 5px;
}

.options {
    display : table;
    width:100%;
    margin-top:300px;
}


